/* --- General --- */
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    cursor: default;
    overflow: hidden;
    color: black;
}

text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    fill: hsl(0, 0%, 60%);
}

button {
    cursor: pointer;
}

/* --- General --- */

/* override bulma */
.label {
    font-weight: normal;
}

/* --- Dashboard --- */
.vis {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
    box-shadow: 0 0 1px hsl(0, 0%, 80%);
}

.vis-header {
    background-color: hsl(0, 0%, 90%);
    padding: 2px 3px;
    height: 21px;
}

.vis-header .title {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    float: left;
    text-transform: uppercase;
    color: hsl(0, 0%, 25%);
    margin-top: 2px;
    margin-bottom: 0; /* override bulma */
}

.settings {
    font-size: 11px;
}

.settings .setting {
    float: right;
    margin-left: 10px;
}

.settings label {
    margin-right: 3px;
    margin-left: 3px;
}

.hidden {
    display: none !important;
}

/* --- Dashboard --- */

/* --- D3 --- */
/* Brush */
.brush .selection {
    fill-opacity: 0.2;
    fill: orange;
    stroke: orange;
}

.brush .overlay {
    cursor: default;
}

/* Axis */
.tick line,
.axis path,
.x-axis path,
.y-axis path {
    stroke: hsl(0, 0%, 60%);
    shape-rendering: crispEdges;
}

.axis text,
.x-axis text,
.y-axis text {
    font-size: 10px;
}

rect {
    shape-rendering: crispEdges;
}

/* Normal straight lines in graphs */
.links line,
.links path {
    fill: none;
    stroke: hsl(0, 0%, 60%);
}

/* --- D3 --- */