.pv-feature-projection .thread {
    fill-opacity: 0.25;
    stroke-opacity: 0.25;
    stroke: black;
}

.pv-feature-projection .thread.brushed {
    stroke-opacity: 1;
    stroke: hsl(30, 100%, 50%);
}

.pv-feature-projection .thread.hovered {
    stroke-opacity: 1;
    stroke: hsl(30, 100%, 50%);
    stroke-width: 2px;
}

.pv-feature-projection .thread.selected {
    stroke-opacity: 1;
    stroke: hsl(30, 100%, 50%);
    stroke-width: 3px;
}

.pv-feature-projection .thread.selected path {
    stroke-width: 2px;
}