.pv-threadsome .person .label {
    color: hsl(0, 0%, 70%);
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
}

.pv-threadsome .person.sender .label {
    color: hsl(0, 0%, 40%);
}

.pv-threadsome .person.group .label {
    font-weight: bold;
}

.pv-threadsome .person.group {
    stroke-width: 2px;
}

.pv-threadsome .person .instance .sender {
    fill: hsl(0, 0%, 60%);
}

.pv-threadsome .person .instance .receiver {
    fill: hsl(0, 0%, 85%);
}

.pv-threadsome .thread .time {
    fill: none;
    stroke: hsl(0, 0%, 50%);
    stroke-opacity: 0.3;
}

.pv-threadsome .time.hovered {
    stroke: #ffcc99;
    stroke-opacity: 1;
    stroke-width: 2px;
}

.pv-threadsome .thread .time .head {
    stroke-width: 2px;
}

.pv-threadsome .person-background {
    fill: hsl(31, 100%, 93%);
}

.pv-threadsome .background {
    fill-opacity: 0;
}

.pv-threadsome .thread-background {
    fill: none;
}

.pv-threadsome .thread-background.odd {
    fill: hsl(0, 0%, 96%);
}

.pv-threadsome .thread-background.active {
    fill: hsl(31, 100%, 93%);
}