.pv-threadall .brush .selection {
    fill: orange;
    stroke: orange;
    cursor: default;
}

.pv-threadall .feature .label {
    fill: black;
    text-anchor: middle;
    dominant-baseline: text-before-edge;
}

.pv-threadall .thread {
    opacity: 0.5;
}

.pv-threadall .thread.brushed {
    fill: orange;
    opacity: 1;
}

.pv-threadall .thread.hovered {
    fill: red;
    opacity: 1;
}

.pv-threadall .feature .background {
    fill: none;
}

.pv-threadall .feature .background.odd {
    fill: hsl(0, 0%, 96%);
}