.pv-threadall .feature .label {
    text-anchor: middle;
    dominant-baseline: text-before-edge;
    font-weight: bold;
}

.pv-threadall .thread {
    opacity: 0.5;
}

.pv-threadall .thread.brushed {
    fill: orange;
    opacity: 1;
}

.pv-threadall .thread.hovered {
    fill: red;
    opacity: 1;
}

.pv-threadall .thread.selected {
    fill: red;
    opacity: 1;
}

.pv-threadall .feature .background {
    fill: none;
}

.pv-threadall .feature .background.odd {
    fill: hsl(0, 0%, 96%);
}

.pv-threadall .thread.brushed .rug {
    stroke: orange;
    stroke-width: 2;
    opacity: 1;
}

.pv-threadall .thread .rug {
    fill: none;
    stroke: black;
}