.pv-thread .person .label {
    color: hsl(0, 0%, 70%);
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
}

.pv-thread .person.sender .label {
    color: hsl(0, 0%, 40%);
}

.pv-thread .person.group .label {
    font-weight: bold;
}

.pv-thread .person.group {
    stroke-width: 2px;
}

.pv-thread .person .instance {
    fill: hsl(0, 0%, 90%);
    stroke: hsl(0, 0%, 70%);
}

.pv-thread .person .instance.sender {
    fill: hsl(0, 0%, 60%);
    stroke: hsl(0, 0%, 50%);
}

.pv-thread .person .instance.bcc {
    stroke: hsl(0, 0%, 60%);
    fill: white;
}

.pv-thread .person.group .instance.bcc {
    stroke: hsl(0, 0%, 70%);
}

.pv-thread .line {
    stroke: hsl(0, 0%, 70%);
}

.pv-thread .lines.group {
    stroke-width: 2px;
}

.pv-thread .line.exclusion {
    stroke: hsl(0, 0%, 90%);
}

.pv-thread .line.group.exclusion {
    stroke-width: 2px;
}

.pv-thread .time {
    fill: none;
    stroke: hsl(0, 0%, 50%);
    stroke-opacity: 0.3;
}

.pv-thread .time.hovered {
    stroke: hsl(30, 100%, 85%);
    stroke-opacity: 1;
    stroke-width: 2;
}

.pv-thread .time.selected {
    stroke: hsl(30, 100%, 70%);
    stroke-opacity: 1;
    stroke-width: 2;
}

.pv-thread .time .head {
    stroke-width: 2px;
}

.pv-thread .message-background,
.pv-thread .person-background {
    fill: hsl(30, 100%, 93%);
    stroke: none;
}

.pv-thread .time.selected .message-background {
    fill: hsl(30, 100%, 80%);
}

.pv-thread .background {
    fill-opacity: 0;
}